body {
  margin: 0;
  background: var(--tg-theme-bg-color);
  font-weight: 400;
  font-family: var(--default-font);
  font-size: 13px;
  touch-action: manipulation;

  --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  /*Общие переменные*/
  --max-width-value: 480px;
  --grid-gap-value: 10px;
  --btn-border-radius-angles: 10px;
  --title-txt-font: 16px;
  --desc-txt-font: 14px;
  --image-height-value: 200px;
  --item-radius-value: 10px;
  --image-border-radius: 10px;
}

/*Секция главного экрана категорий*/
.category_section {
  max-width: 480px;
  width: fit-content;
  display: flex;
  justify-content: center;
  background: white;
}

.category_grid {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: var(--grid-gap-value);
  height: auto;
}

.category_item {
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 10px;
  background: #EFEFEF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.category_image img {
  width: 200px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.category_btn {
  display: inline-block;
  width: 190px;
  padding: 10px 10px;
  margin: 5px;
  border: none;
  background: rgb(248, 168, 24);
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

/*Секция блюд*/
.food_section {
  max-width: 480px;
  width: fit-content;
  display: flex;
  justify-content: center;;
}

.food_grid {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: var(--grid-gap-value);
  height: auto;
}

.food_item {
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 10px;
  background: #EFEFEF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.food_image img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.food_txt_container {
  margin-left: 5px;
  margin-right: 5px;
}

.food_title_container {
  display: flex;
}

.food_title_txt {
  margin: 0;
  width: 50%;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: var(--tg-theme-text-color);
  text-align: start;
}

.food_v {
  margin: 0;
  width: 50%;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: var(--tg-theme-subtitle-text-color);
  text-align: end;
}

.food_price_txt {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: var(--tg-theme-subtitle-text-color);
  text-align: start;
}

.food_desc_txt {
  margin: 0;
  font-size: 14px;
  color: var(--tg-theme-hint-color);
  text-align: start;
}

.food_item_buttons {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  position: relative;
}

.food_decr_btn {
  touch-action: manipulation;
  border: none;
  width: 40%;
  background: #CC261F;
  border-radius: 10px;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 10px;
  display: none;
}

.food_counter {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  width: 40%;
  padding: 10px 10px;
  text-align: center;
  display: none;
  color: var(--tg-theme-text-color);
}

.food_incr_btn {
  touch-action: manipulation;
  display: none;
  border-radius: 10px;
  background: #B2E21C;
  border: none;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  width: 40%;
  padding: 10px 10px;
}

.food_btn {
  display: inline-block;
  width: 100%;
  padding: 10px 10px;
  border: none;
  background: #D7951D;
  border-radius: 10px;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

/*Секция заказа*/
.order_section {
  max-width: 480px;
  width: fit-content;
  display: flex;
  justify-content: center;;
}

.order_grid {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: auto;
}

.order_title_txt {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: var(--tg-theme-text-color);
  text-align: start;
}

.order_food_item {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  background: #EFEFEF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.order_image img {
  width: 100px;
  height: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

.order_food_txt_container {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

.order_food_title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: var(--tg-theme-text-color);
}

.order_food_desc {
  margin: 0;
  font-size: 14px;
  color: var(--tg-theme-hint-color);
}

.order_price_container {
  margin: 0;
  width: fit-content;
  height: fit-content;
}

.order_price_txt {
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
  padding: 5px;
  font-weight: bold;
  text-align: end;
  color: var(--tg-theme-text-color);
}

.order_result_container {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
}

.order_result_title_txt {
  margin: 0;
  display: inline-block;
  font-size: 20px;
  width: 50%;
  font-weight: bold;
  color: var(--tg-theme-text-color);
  text-align: start;
}

.order_result_txt {
  display: inline-block;
  margin: 0;
  width: 50%;
  text-align: end;
  font-size: 14px;
  justify-content: center;
  font-weight: bold;
  color: var(--tg-theme-text-color);
}

.order_comment {
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background: #EFEFEF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  text-align: start;
  border: none;
  color: var(--tg-theme-hint-color);
  font-size: 16px;
  height: 150px;
  resize: none;
}
