body {
  margin: 0;
  padding: 5px;
  background: var("--tg-theme-bg-color");
  font-weight: 400;
  font-family: var(--default-font);
  font-size: 13px;

  --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.category_container {
  max-width: 400px;
  background: var("--tg-theme-bg-color");
}

.order_container {
  max-width: 400px;
  background: var("--tg-theme-bg-color");
}

.sub_inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  column-gap: 20px;
}

.sub_food_inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  column-gap: 20px;
}

.card_text {
  margin: 1px;
  color: rgb(156, 156, 156);
  font-size: 14px;
}

.card_image img {
  width: 100%;
  height: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.card_image_item img {
  width: 100%;
  height: 70%;
  border-radius: 10px;
  object-fit: cover;
}

.item {
  text-align: center;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 10px 10px;
  border: none;
  background: rgb(248, 168, 24);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.btn_item {
  display: inline-block;
  width: 100%;
  padding: 10px 10px;
  border: none;
  background: rgb(248, 168, 24);
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.btn:hover {
  background: lightgreen;
}
