body {
  margin: 0;
  padding: 5px;
  background: var(--tg-theme-bg-color);
  font-weight: 400;
  font-family: var(--default-font);
  font-size: 13px;

  --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --page-animation-duration: .3s;
  --animation: .15s ease;
  --page-animation: var(--page-animation-duration) ease;
  --ripple-duration: .45s;
  --ripple-end-duration: .3s;
  /*Общие переменные*/
  --max-width-value: 390px;
  --grid-gap-value: 10px;
  --btn-border-radius-angles: 10px;
  --title-txt-font: 16px;
  --desc-txt-font: 14px;
  --image-height-value: 200px;
  --item-radius-value: 10px;
  /*Переменные главного экрана*/
  /*Переменные категории супы*/
  --image-border-radius: 10px;
}

/*Секция главного экрана категорий*/
.category_container {
  max-width: var(--max-width-value);
  display: flex;
  justify-content: center;
  background: var(--tg-theme-bg-color);
}

.category_grid {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: var(--grid-gap-value);
  height: auto;
}

.category_image img {
  width: 100%;
  height: var(--image-height-value);
  border-top-left-radius: var(--btn-border-radius-angles);
  border-top-right-radius: var(--btn-border-radius-angles);
  object-fit: cover;
}

.category_item {
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: var(--item-radius-value);
  background: var(--tg-theme-section-bg-color);
}

.category_btn {
  display: inline-block;
  width: 100%;
  padding: 10px 10px;
  border: none;
  background: rgb(248, 168, 24);
  border-bottom-left-radius: var(--btn-border-radius-angles);
  border-bottom-right-radius: var(--btn-border-radius-angles);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

/*Секция блюд*/
.food_container {
  max-width: var(--max-width-value);
  display: flex;
  justify-content: center;
  background: var(--tg-theme-bg-color);
}

.food_grid {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: var(--grid-gap-value);
  height: auto;
}

.food_txt_container {
  margin: 0;
  padding: 5px;
}

.food_title_txt {
  margin: 0;
  font-size: var(--title-txt-font);
  font-weight: bold;
  color: var(--tg-theme-text-color);
  text-align: start;
}

.food_desc_txt {
  margin: 0;
  font-size: var(--desc-txt-font);
  color: var(--tg-theme-hint-color);
  text-align: start;
}

.food_price_txt {
  margin: 0;
  font-size: var(--desc-txt-font);
  color: var(--tg-theme-subtitle-text-color);
  text-align: start;
}

.food_image img {
  width: 100%;
  height: var(--image-height-value);
  border-radius: var(--image-border-radius);
  object-fit: cover;
}

.food_item {
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: var(--item-radius-value);
  background: var(--tg-theme-section-bg-color);
}

.food_item_buttons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  position: relative;
}

.food_decr_btn {
  border: none;
  width: 40%;
  height: 20%;
  background-color: #e64d44;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 10px;
  display: none;
}

.food_counter {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  width: 40%;
  padding: 10px 10px;
  text-align: center;
  display: none;
}

.food_incr_btn {
  display: none;
  border-radius: 10px;
  height: 20%;
  background: rgb(248, 168, 24);
  border: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  width: 40%;
  padding: 10px 10px;
}

.food_btn {
  display: inline-block;
  width: 100%;
  padding: 10px 10px;
  border: none;
  background: rgb(248, 168, 24);
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
