body {
  margin: 0;
  padding: 5px;
  background: var(--tg-theme-bg-color);
  font-weight: 400;
  font-family: var(--default-font);
  font-size: 13px;

  --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --page-animation-duration: .3s;
  --animation: .15s ease;
  --page-animation: var(--page-animation-duration) ease;
}

.category_container {
  max-width: 480px;
  background: var(--tg-theme-bg-color);
}

.order_container {
  max-width: 480px;
  background: var(--tg-theme-bg-color);
}

.sub_inner {
  margin: 0;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: auto;
  gap: 20px;
  height: auto;
}

.sub_food_inner {
  margin: 0;
  display: grid;
  grid-template-columns: 160px 160px 160px;
  grid-template-rows: auto;
  gap: 10px;
  height: auto;
}

.card_text {
  margin: 0;
  padding: 5px;
}

.title_txt {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: var(--tg-theme-text-color);
  text-align: start;
}

.p_txt_1 {
  margin: 0;
  color: var(--tg-theme-hint-color);
  text-align: start;
}

.p_txt_2 {
  margin: 0;
  color: var(--tg-theme-subtitle-text-color);
  text-align: start;
}

.card_image img {
  width: 200px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.card_image_item img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}

.item {
  width: auto;
  height: auto;
  text-align: center;
  border-radius: 10px;
  background: var(--tg-theme-section-bg-color);
}

.food_item {
  width: auto;
  height: auto;
  border-radius: 10px;
  background: var(--tg-theme-section-bg-color);
}


/*.card_item_counter {*/
/*  display: inline-block;*/
/*  font-family: var(--default-font);*/
/*  font-weight: 700;*/
/*  font-size: 14px;*/
/*  line-height: 18px;*/
/*  padding: 6px 16px;*/
/*  height: 30px;*/
/*  border-radius: 7px;*/
/*  box-sizing: border-box;*/
/*  background-color: var(--main-color);*/
/*  text-transform: uppercase;*/
/*  color: #fff;*/
/*  outline: none;*/
/*  border: none;*/
/*}*/

/*.card_item_counter {*/
/*  position: absolute;*/
/*  right: 0;*/
/*  top: 0;*/
/*  min-width: 22px;*/
/*  height: 22px;*/
/*  padding: 2px 6px;*/
/*  margin: 4px 6px;*/
/*  border-radius: 11px;*/
/*  transform: scale3d(0, 0, 1);*/
/*  animation: var(--animation) both;*/
/*  pointer-events: none;*/
/*  z-index: 3;*/
/*}*/

.btn {
  display: inline-block;
  width: 100%;
  padding: 10px 10px;
  border: none;
  background: rgb(248, 168, 24);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.btn_item {
  display: inline-block;
  width: 100%;
  padding: 10px 10px;
  border: none;
  background: rgb(248, 168, 24);
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
